ul{
  list-style-type: none;
  width: 90%;
  overflow: hidden;
  right: 10px;
}

li{
  display: block;
  text-align: center;
  padding: 14px 10px;
  float: right;
}

ul li a{
  text-decoration: none;
  color: #aaa;
}

nav{
  display: flex;
  border-bottom: 1px solid black;
}






/*ul {
    list-style-type: none;
    overflow: hidden;
    right: 10px;
  }
  
  li {
    display: block;
    text-align: center;
    padding: 14px 10px;
    float: right;
    color: rgba(0, 238, 255, 0.863);
  } */