ul {
    list-style-type: none;
    overflow: hidden;
    right: 10px;
  }
  
  li {
    display: block;
    text-align: center;
    padding: 14px 16px;
    float: right;
    color: rgba(0, 238, 255, 0.863);
  }