/* ----------Tabel Buah---------- */
body{
  display: flex;
  flex-direction: column;
}
.tabelBuah{
  width: 100%;
  border: 1px solid black;
  margin-bottom: 20px;
  text-align: center;
}
td,th{
  border: 0.1px solid white;
  padding: 10px;
}
th{
  background-color: #9b9ea3;
}
td{
  background-color: #F59149; 
}

/* ----------Form Buah---------- */
body{
  display: flex;
  flex-direction: column;
}
input{
  width: 100%;
  border: 2px solid #ccc;
  box-sizing: border-box;
  margin: 7px 0;
  padding: 12px 20px;
}
.submit{
  width: 100%;
  background-color: #F59149;
  border: none;
  color: black;
  cursor: pointer;
  margin: 10px 0;
  padding: 12px 20px;
}
.submit:hover{
  background-color: #1aad1f;
}

/* --- Form Pembeliaan Buah ---
.bords{
width: 40%;
margin: 0 auto; 
border: 1px solid black; 
border-radius: 15px;
}
.judul{

}
a{
text-decoration: none;
color: #000;
}
button{
background: white;
border-radius: 20px;
}*/